<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>dbname</param-name>
        <param-value>xyz_assoc</param-value>
    </context-param>
    <servlet>
        <servlet-name>UserServLet</servlet-name>
        <servlet-class>Content.UserServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>Action.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Action.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimsServLet</servlet-name>
        <servlet-class>Content.ClaimsServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>Content.DBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServLet</servlet-name>
        <servlet-class>Content.MemberServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMent</servlet-name>
        <servlet-class>Content.PayMent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServLet</servlet-name>
        <url-pattern>/UserService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimsServLet</servlet-name>
        <url-pattern>/ClaimsServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>/DBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServLet</servlet-name>
        <url-pattern>/MemberServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMent</servlet-name>
        <url-pattern>/PayMent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
